@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-image: linear-gradient(to bottom, #09090b, #171717);
}

.gradient {
    background: linear-gradient(135deg, #86198f, #a21caf, #7e22ce, #9333ea, #7c3aed, #8b5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradient 7s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}